<!DOCTYPE html>
<html>
<head>
	<title>SIGNED IN</title>
</head>
<body>
<h2>
	WELCOME "<%= currentUser.username %>" !!!!
</h2>

<form method="POST" action="/Sfriends/<%=currentUser._id%>" >
	<input type="text" name="searchFriend" placeholder="search friend">
	<button>SEARCH</button>
</form>
<% if(searchedFriend.name === undefined ){ %> 
<p>
	ENTER THE NAME OF A FRIEND IN YOUR FRIEND LIST.
</p>
<% }else{ %>
<h2>
	   <a href="/chat/<%= searchedfriend.name %>"><%= searchedFriend.name %></a> 
		<%= searchedFriend.propic %>
</h2>
<% } %>

<% currentUser.friends.forEach(function(f){ %>	
	<li>
		<a href="/chat/<%= f.name %>"><%= f.name %></a>
		<%= f.propic %>
			
	</li>
<% }) %>


<a href="/logout">logout</a>

</body>
</html>