<!DOCTYPE html>
<html>
<head>
	<title>SIGNED IN</title>
	<style>
	/*	#chatbox{
			height:200px;
			width: 200px;
			border: 1px solid ;
			overflow:auto;
	}*/
		#chatboxgrp{
			height:200px;
			width: 200px;
			border: 1px solid ;
			overflow:auto;
	}
		#friendlist{
			display: none;
		}

		#searchF{
			display: block;
		}
		#addFriend{
			display: none;
		}
		#currentUserID{
			display: none;
		}
		#show-searched-friend{
			display: none;
		}
		#chatwithfriend{
			display: none;
		}
		#createpublicgroup{
			display: none;
		}
		#showpublicgroups{
			display: none;
		}
		#createdgroup{
			display: none;
		}
		#publicgroupsettings{
			display: none;
		}
		#showing-result{
			display: none;
		}
		#chatwithgroup{
			display: none;
		}
		#note{
			display:none;
		}
	</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>

 <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300i,400,500,700,900" rel="stylesheet">
        <link rel="stylesheet" href="stylesheets/font-awesome.min.css">

        <link rel="stylesheet" href="stylesheets/chat-css.css">  

</head>


 
	 


<!-- section-1 -->
 
<body class="chat-main-page-wrap">
	<% if( currentUser === undefined){ %>
    <a href="/login">Please login first </a>
  <% }else { %>
  	<!-- <h2>WELCOME "<%= currentUser.username %>" !!!! </h2> -->
		<span id="currentUserID"><%= currentUser._id %></span>
          <div class="main-wrapper fullwidth">
            <div class="full-page-wrapper fullwidth">
                <div class="container-fluid">
                    <div class="top-boxes-wrap">
                        <div class="chats-sections row">
                            <div class="profile-menu-section col-sm-3">
                                <div class="current-user-profile fullwidth">  
                                    <div class="row current-user-profile-inner align-items-center">
                                        <div class="user-profile-img col-sm-4">
                             
                                <img class="round-image-current-user" src="/<%=currentUser.profileImage%>" alt="user-img"/>
                                        </div>
                                        <div class="user-info col-sm-8 pad-left-0">
                                            <p><%= currentUser.username %></p>
                                            <p class="status">Hey There!! I am available</p>
                                        </div>
                                        <a class="user-profile-link" href="javascript:void(0);"></a>
                                    </div>
                            
<div class="profile-options-wrap fullwidth">
                                        <ul class="profile-options-wrap-inner">
                                            <li>
                                                <button>
                                                    <span class="fa fa-user-o">

                                                    </span>
                                                    <p class="profile-option-text">My Profile</p>
                                                </button>
                                            </li>
                                            <li>
                                                
                                                 
                                  			    <button id="addFriendButton" >
                                    		       <span class="fa fa-user-plus"></span>

                                    			   <p class="profile-option-text">Add Friends</p>
                                    			</button>
                                			
                                            </li>

                                            <li>
                                            	<button id="friendlistbutton" >
                                       			 	<span class="fa fa-female"></span>
                                        			<p class="profile-option-text">My Friends</p>
                                   				</button>
                                               
                                            </li>
                                            <li>
                                                
                                                	 
                                   					    <button id="yourpublicgroups" >
                                        					<span class="fa fa-cubes"></span>
                                      						<p class="profile-option-text">My Groups</p>
                                    					</button>
                                					
                                                    
                                                    
                                               
                                            </li>
                                            <li>
                                            		 <button id="notifications" >
                                       					 <span class="fa fa-search"></span>
                                      					 <p class="profile-option-text">Notifications</p>
                                  					 </button>
                                               
                                            </li>
                                         <!--    <li>
                                                <a href="">
                                                    <span class="fa fa-random">

                                                    </span>
                                                    <p class="profile-option-text">Search Random</p>
                                                </a>
                                            </li> -->

                                            <li>
                                            	<button id="newpublicgroup" >
                                      				  <span class="fa fa-user"></span>
                                      				<p class="profile-option-text">Create Public Groups</p>
                                     			 </button>
                                                
                                            </li>
                                           <!--  <li>
                                                <a href="">
                                                    <span class="fa fa-clone">

                                                    </span>
                                                    <p class="profile-option-text">Create Private Groups</p>
                                                </a>
                                            </li> -->
                                            <li>
                                                 <button>
                                                    <span class="fa fa-superpowers">

                                                    </span>
                                                    <p class="profile-option-text">About</p>
                                                </button>
                                            </li>   
                                        </ul>
                                    </div>
                                </div>
                            </div>


                            
                             
                              
                                
                               
                               
<!-- section-2 -->
<div class="search-and-chat-section col-sm-4">
								<% if(whichPage==="one"){ %>
									<div id="defaultext">
									<h2>
										SELECT Something
									</h2>
										
									</div>
									<% } %>
									
                                <div id="searchF">
                                    <form id="searchFform">
                                        <input name="searchFriend" placeholder="search friend" id="friendtosearch" type="text">
                                        <button>SEARCH</button>
                                    </form>
                                </div>
                               <div class=" second-section-options-wrap">
                               		<div id="createpublicgroup">
	<form id="creategroup">
		<input type="text" id="grpname" placeholder="group name">
		<input type="text" id="grpht" placeholder="hashtag">
		<input type="submit" value="create">
	</form>	
</div>
<div id="createdgroup">
	
</div>

<div id="showpublicgroups">
	
</div>

<div id = "note">
									<h2>You have new messages from :</h2>
									<div id="newmess">
										
									</div>
									</div>

<div id="publicgroupsettings">
   <form id="addmember">
   		<input type="text" id="addmembername">
   		<input type="submit" value="addmember">
   </form>

<div id="othersettingsselect">
</div>
<div id= "othersettings">
	
</div>
<div id="showing-result">
	
</div>
<!-- 	<button id="removesubadmin"></button>-->
</div>

<div id = "addFriend">
<form id="addFriendSocket">
	<input type="text" name="addfriend" id="friendName">
	<button>add friend</button>
</form>


</div>
<div href="" id="show-friend">
	
</div>



	<div id="show-searched-friend">
		
	</div>
	<button id="showing-searched-friend" class="linkToChat getpreviouschats">
		
	</button>

<div id="friendlist">
	
</div>	
								<div class="chat-users-list" class="userslist">
                                    <ul class="chat-users-list-wrap" id="grplist2">
                                       
                                    </ul>
                                </div>
									
                                <div class="chat-users-list" class="userslist">
                                    <ul class="chat-users-list-wrap" id="userslist2">
                                       
                                    </ul>
                                </div>
                               </div>
                                
                            </div>




<!-- section-3 -->

<div id = "chatwithgroup">
<h2>
	WELCOME "<span id="uname"><%= currentUser.username %></span>" !!!!
</h2>
<h2>
	Chat with <span id="grname"></span>
</h2>
<!-- <form id = "getpreviouschats">
	<input type="submit" value="get previous chats">
</form> -->
<div id="chatboxgrp"></div>
<form id = "sendmessagegrp">
	<input type="text" id="messagegrp" size="35" required="true" >
	<input type="submit" value="send" >
</form>	
</div>


<div class="real-message-section col-sm-5" id="chatwithfriend">                                
                                <div class="messages-wrap">
	                                <!-- <h2>
										WELCOME "<span id="uname"><%= currentUser.username %></span>" !!!!
									</h2>
									<h2>
										Chat with <span id="frname"></span>
									</h2> -->
                           			<div class="chatting-with-user-info">
    									<div class="row current-user-profile-inner align-items-center">
                                       		 <div class="user-profile-img col-sm-3 pad-left-0">
                             
                                				<img class="round-image-current-user" id="frimg" alt="user-img">
                                       		 </div>
                                        		<div class="user-info col-sm-6 pad-left-0">
                                           				 <span id="frname"></span>
                                       			 </div>
        								<div class="col-sm-2"></div>
                                   		 </div>
    
										</div>
                                    <ul class="messages-wrap-inner" id="chatbox" >
                                        
                                         
                                   
                                    </ul>
                            </div>
                                <div class="real-message-wrap">
                                    <form id="sendmessage">
                                        <input id="message"  placeholder="Type a message.." required="required" type="text">
                                        <input class="hidden" value="send" type="submit">
                                    </form>

                                </div>
                            </div>
                        </div>
                       
                    </div>
                    <!-- <div class="bottom-boxes-wrap">
                    </div> -->
                </div>
            </div>
        </div>


<a href="/logout">logout</a>
<% } %>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


	<script>
	
	$(document).ready(function(){
		var socket = io.connect() ;
		var messageform = $("#sendmessage");
		var message = $("#message");
		var chat = $("#chatbox");
		var frname = $("#frname");
		var searchF = $("#searchF");
		var searchFriendButton = $("#searchFform");
		var friendlist = $("#friendlist");
		var friendlistbutton = $("#friendlistbutton");
		var addFriendButton = $("#addFriendButton");
		var addFriend = $("#addFriend");
		var defaultext = $("#defaultext");
		var uname = $("#uname");
		var messagesent = false ;
		var userlogin = true ;
		var getpreviouschats = $(".getpreviouschats");
				// console.log($(frname));
		socket.emit("userloggedin",$(uname).html());
		socket.on("newmessagefrom",function(data2){
			
			if(data2.username=== $(uname).html()){
				console.log(data2.newmessages);
				$("#newmess").empty() ;
			data2.newmessages.forEach(function(f){
				$("#newmess").append("<span>"+ f.users + "</span>");
			});
			}
		});
		$("#notifications").click(function(e){
				e.preventDefault();
				$("#note").css("display","inline");
		});
		$("#yourpublicgroups").click(function(e){
			$("#note").css("display","none");
			$("#grplist2").css("display","inline");
			$("#userslist2").css("display","none");
			$(defaultext).css("display", "none");
			$(defaultext).css("display", "none");
			$("#publicgroupsettings").css("display","none");
			$(addFriend).css("display", "none");
			//$(searchF).css("display", "none");
			$(friendlist).css("display", "none");
			$("#show-searched-friend").css("display", "none");
			$("#showing-searched-friend").css("display", "none");
			$("#show-friend").css("display", "none");
			$("#showpublicgroups").css("display","flex");
			$("#createpublicgroup").css("display","none");
			$("#createdgroup").css("display","none");
			$("#showing-result").css("display","none");
		});	
		$("#newpublicgroup").click(function(e){
			$("#grplist2").css("display","none");
			$("#note").css("display","none");
			$("#userslist2").css("display","none");
			$(defaultext).css("display", "none");
				$("#showing-result").css("display","none");
			$("#publicgroupsettings").css("display","none");
			$(defaultext).css("display", "none");
			$(addFriend).css("display", "none");
			//$(searchF).css("display", "none");
			$(friendlist).css("display", "none");
			$("#show-searched-friend").css("display", "none");
			$("#showing-searched-friend").css("display", "none");
			$("#show-friend").css("display", "none");
			$("#showpublicgroups").css("display","none");
			$("#createpublicgroup").css("display","flex");
			$("#createdgroup").css("display","flex");
		});	

		$("#creategroup").submit(function(e){
			e.preventDefault();
			$("#createpublicgroup").css("display","none");
			

			socket.emit("createpubgroup",{id:$("#currentUserID").html() ,groupname : $("#grpname").val() , hashtagname:$("#grpht").val(), maker:$(uname).html()});
		});
		socket.on("groupcreated",function(data1){
			if(data1.name === $(uname).html()){
			$("#createdgroup").css("display","inline");
			$("#createdgroup").empty() ;
			console.log(data1);
			$("#createdgroup").append("<span>"+ data1.state + "</span>");
		}
		});
		$("#yourpublicgroups").click(function(e){
			e.preventDefault();
			$("#showpublicgroups").empty();
			socket.emit("clickedpublicgroups",{id:$("#currentUserID").html() });
		});
		socket.on("herearethegroups",function(data1){
			if(data1.username=== $(uname).html()){

			$("#grplist2").empty();
			for(var i = data1.recentgpmessages.length-1; i>=0 ; i--){
			//data1.recentmessages.forEach(function(f){
			socket.emit("getgrpmsg",{usname:data1.username ,grpname:data1.recentgpmessages[i].users} );
			}
			
			for(var i = 0; i<data1.publicgrp.length ; i++){
				$("#showpublicgroups").append("<button id= " + "'grouplink" + i + "'" + "class='getpreviouschatsofgrp'>" +  data1.publicgrp[i].hashname  + "</button>");
		
			}
		
						$("#showpublicgroups button").click(function(e){
								
								$("#grname").html($(this).html()) ;
						 		console.log($(this).html());
						 		$("#chatwithfriend").css("display","none");
				 				$("#chatwithgroup").css("display","inline");
							var grp = $(this).html();
							$("#publicgroupsettings").css("display","flex");

							$("#showpublicgroups").css("display","none");
							socket.emit("loaded-message-group",{to: grp,from:$(uname).html()});
							socket.on("previous-group-message",function(data1){
								console.log(data1);
								if( data1.to === grp){
	    		   
	    					   $("#chatboxgrp").empty();
	   	     					for(var i =0; i<data1.messaged.length ; i++){
	    							$("#chatboxgrp").append("<span>" + data1.messaged[i].data + "</span><br/>");
	    						}
	    					}
						});
							$("#addmember").submit(function(e){
									e.preventDefault();
									console.log(grp);
									$("#othersettings").empty();
									socket.emit("add-member",{grpname : grp ,user:$(uname).html(), membername : $("#addmembername").val() });
									socket.emit("member-names",grp);

								});
							socket.emit("member-names",grp);
							socket.on("names-here",function(data1){
							$("#othersettings").empty();
								var issubadmin = false ;
								var isadmin = false ;
								if($(uname).html() === data1.admin){
									isadmin = true ;
								}
								if($(uname).html() !== data1.admin){
									data1.subadmins.forEach(function(f){
									if($(uname).html() === f.username){
											issubadmin = true ;
									}
								});
								}
								console.log(issubadmin) ;
								data1.users.forEach(function(f){

									if(f.username !== data1.admin && f.username !== $(uname).html()){
									$("#othersettings").append("<button>"+f.username+"</button></br>");
								}
							});
								$("#othersettings button").click(function(e){
									var ussser = $(this).html();
									if(issubadmin){
										
										$("#othersettingsselect").append("<button id = 'addsubadminname'> addsubadmin </button>");
										$("#othersettingsselect").append("<button id = 'removedmembername'> removemember </button>");
									$("#removedmembername").click(function(e){
									$("#othersettingsselect").empty() ;
									$("#othersettings").empty();
								
									
									socket.emit("remove-member",{membername:ussser,user:$(uname).html(),grpname: grp });
									socket.emit("member-names",grp);
										});
									$("#addsubadminname").click(function(e){
									e.preventDefault();
										$("#othersettingsselect").empty() ;
									socket.emit("add-subadmin",{membername:ussser,user:$(uname).html(),grpname: grp });
										});
									}
									if(isadmin){
										$("#othersettingsselect").empty() ;
										$("#othersettingsselect").append("<button id = 'addsubadminname'> addsubadmin </button>");
										$("#othersettingsselect").append("<button id = 'removedmembername'> removemember </button>");
										$("#othersettingsselect").append("<button id = 'removesubadminname'> removesubadmin </button>");
									$("#removedmembername").click(function(e){
									e.preventDefault();
									$("#othersettingsselect").empty() ;
									$("#othersettings").empty();
									
									socket.emit("remove-member",{membername:ussser,user:$(uname).html(),grpname: grp });
									socket.emit("member-names",grp);
										});
									$("#addsubadminname").click(function(e){
									e.preventDefault();
									$("#othersettingsselect").empty() ;
									socket.emit("add-subadmin",{membername:ussser,user:$(uname).html(),grpname: grp });
										});
									$("#removesubadminname").click(function(e){
									e.preventDefault();
									$("#othersettingsselect").empty() ;
									socket.emit("remove-subadmin",{membername:ussser,user:$(uname).html(),grpname: grp });
								});	
									}

								});
								
	
							});
		
			

							 
							

										
					
				});


			}		
		});

		socket.on("subadmin",function(data1){
			if(data1.user === $(uname).html()){
				$("#showing-result").empty();
				$("#showing-result").css("display","flex");
				$("#showing-result").append("<span>"+ data1.state + "</span>");
		}});
		socket.on("subadmin-removed",function(data1){
			if(data1.user === $(uname).html()){
				$("#showing-result").empty();
				$("#showing-result").css("display","flex");
				$("#showing-result").append("<span>"+ data1.state + "</span>");
		}});
		socket.on("add-member-result",function(data1){
			if(data1.user === $(uname).html()){
				$("#showing-result").empty();
				$("#showing-result").css("display","flex");
				$("#showing-result").append("<span>"+ data1.state + "</span>");

		}});
		socket.on("member-removed",function(data1){
			if(data1.user === $(uname).html()){
				$("#showing-result").empty();
				$("#showing-result").css("display","flex");
				$("#showing-result").append("<span>"+ data1.state + "</span>");
				console.log(data1);
}
		});
		$(friendlistbutton).click(function(e){
			$("#note").css("display","none");
			$("#grplist2").css("display","none");
			$("#userslist2").css("display","inline");
			$("#showpublicgroups").css("display","none");
			$("#createpublicgroup").css("display","none");
			$(defaultext).css("display", "none");
			$(addFriend).css("display", "none");
			//$(searchF).css("display", "none");
			$(friendlist).css("display", "flex");
			$("#show-searched-friend").css("display", "none");
			$("#showing-searched-friend").css("display", "none");
			$("#show-friend").css("display", "none");
			$("#createdgroup").css("display","none");
			$("#publicgroupsettings").css("display","none");
			$(friendlist).empty();
				$("#showing-result").css("display","none");
			socket.emit("show-friend-list",{id:$("#currentUserID").html() ,from:$(uname).html()});
		});
		socket.on("friend-list-emitted",function(data1){
			//data1.forEach(function(f){
				
			console.log(data1.recentmessages.length );
			if(data1.username === $(uname).html()){
				$("#userslist2").empty();
			for(var i = data1.recentmessages.length-1; i>=0 ; i--){
			//data1.recentmessages.forEach(function(f){
				

			socket.emit("getimg",{frname :data1.recentmessages[i].users , usname : data1.username});
			}
			}
				console.log(data1.friends.length);
				if(data1.username=== $(uname).html()){
			for(var i = 0; i<data1.friends.length ; i++){
				$("#friendlist").append("<button id= " + "'link" + i + "'" + "class='getpreviouschats'>" +  data1.friends[i].name  + "</button>");
		
			}
		
	
					
					$("#friendlist button").click(function(e){
						$("#frname").html($(this).html()) ;
						socket.emit("loaded-message",{to:$(frname).html(),from:$(uname).html()});
						socket.on("friendimage",function(data3){
							$("#frimg").attr('src', '/' + data3.profileImage);
						});
						$("#chatwithgroup").css("display","none");
						$("#chatwithfriend").css("display","inline");
					
							e.preventDefault();
						
							
					
				});	
			}		
			
			 
		});
		$(addFriendButton).click(function(e){
			$("#note").css("display","none");
			$("#grplist2").css("display","none");
			$("#userslist2").css("display","none");
			$("#showpublicgroups").css("display","none");
			$("#createpublicgroup").css("display","none");
			$(defaultext).css("display", "none");
			$(addFriend).css("display", "flex");
			//$(searchF).css("display", "none");
			$("#show-searched-friend").css("display", "none");
			$("#showing-searched-friend").css("display", "none");
			$(friendlist).css("display", "none");
				$("#showing-result").css("display","none");
			$("#createdgroup").css("display","none");
			$("#show-friend").css("display", "flex");
			$("#publicgroupsettings").css("display","none");
		});
		$(searchFriendButton).click(function(e){
			$("#note").css("display","none");
			$("#grplist2").css("display","none");
			$("#userslist2").css("display","none");
			$("#showpublicgroups").css("display","none");
			$("#createpublicgroup").css("display","none");
			$(defaultext).css("display", "none");
			$(addFriend).css("display", "none");
			//$(searchF).css("display", "inline");
			$("#show-friend").css("display", "none");
			$("#show-searched-friend").css("display", "flex");
			$("#showing-searched-friend").css("display", "flex");
			$(friendlist).css("display", "none");
			$("#createdgroup").css("display","none");
				$("#showing-result").css("display","none");
			$("#publicgroupsettings").css("display","none");
		});
		$(".linkToChat").click(function(e){
			$("#frname").html($(".linkToChat").html()) ;
			//e.preventDefault();
			socket.emit("loaded-message",{to:$(frname).html(),from:$(uname).html()});
						socket.on("friendimage",function(data3){
							$("#frimg").attr('src', '/' + data3.profileImage);
						});
			$("#chatwithfriend").css("display","inline");
		});
		
		$("#addFriendSocket").submit(function(e){
			e.preventDefault();
			socket.emit("add-friend-name",{id:$("#currentUserID").html() ,from:$(uname).html(),friendname :$("#friendName").val()});
		});
		socket.on("friend-added",function(data1){
	    	console.log(data1);
	    	
	    	$("#show-friend").html("<span>" + data1 + "</span><br/>");
	    
	    });
	    $("#searchFform").submit(function(e){
			e.preventDefault();
			socket.emit("search-friend-name",{id:$("#currentUserID").html() ,from:$(uname).html(),friendname :$("#friendtosearch").val()});
		});
		socket.on("friend-searched",function(data1){
	    	console.log(data1);
	    	if(data1.name === undefined){
	    		$("#showing-searched-friend").empty();
	    		//$("#show-searched-friend").empty();
	    		$("#show-searched-friend").html("<span>Enter a valid name</span><br/>");
	    	}else{
	    		$("#show-searched-friend").empty();
	    		//$("#showing-searched-friend").empty();
	    		$("#showing-searched-friend").html( data1.name );
	    		//$("#show-searched-friend").attr("href", /chat/data1.name );
	    }
	    });
	   

		$(getpreviouschats).click(function(e){
			e.preventDefault();
			//$(getpreviouschats).css("display", "none");
			socket.emit("loaded-message",{to:$(frname).html(),from:$(uname).html()});

		});



		socket.on("previous-message",function(data1){
	   		
	    	if(data1.from === $(uname).html() && data1.to === $(frname).html()){
	    		   // $(getpreviouschats).css("display", "none");
	    		   $("#chatbox").empty();
	   	     		for(var i =0; i<data1.messaged.length ; i++){
	   	     			if(data1.messaged[i].data.search($(uname).html()) > -1){
	    			$(chat).append("<li class='own-msgs'><span>" + data1.messaged[i].data.substr(8) +"</span></li>" );
	    		}
	    		else{
	    			$(chat).append("<li class='grey-bg'><span>" + data1.messaged[i].data.substr(8) +"</span></li>" );
	    		}
	    		}
	    	}
	    });
		$(messageform).submit(function(e){
			e.preventDefault();
			socket.emit("send-message",{to:$(frname).html(),from:$(uname).html(),msg :$(message).val()});
			$(message).val("");
		});
	    socket.on("new-message",function(data1){
	    	console.log(data1);
	    	
	    	if(data1.from===$(uname).html()){
	    		
	    		$(chat).append("<li class='own-msgs'><span>" + data1.messaged[data1.messaged.length - 1].data.substr(8) +"</span></li>" );
	    	}
	    	else if((data1.to===$(uname).html() && data1.from===$(frname).html())){
	    		
	    		$(chat).append("<li class='grey-bg'><span>" + data1.messaged[data1.messaged.length - 1].data.substr(8) +"</span></li>" );
	    }
	    });
       

  //      		$(getpreviouschats).click(function(e){
		// 	e.preventDefault();
			
		// 	socket.emit("loaded-message",{to:$(frname).html(),from:$(uname).html()});
		// });
		// socket.on("previous-message",function(data1){
	   		
	 //    	if(data1.from === $(uname).html() && data1.to === $(frname).html()){
	 //    		   // $(getpreviouschats).css("display", "none");
	 //    		   $("#chatbox").empty();
	 //   	     		for(var i =0; i<data1.messaged.length ; i++){
	 //    			$(chat).append("<span>" + data1.messaged[i].data + "</span><br/>");
	 //    		}
	 //    	}
	 //    });
		$("#sendmessagegrp").submit(function(e){
			e.preventDefault();
			socket.emit("send-message-grp",{to:$("#grname").html(),from:$(uname).html(),msg :$("#messagegrp").val()});
			$("#messagegrp").val("");
		});
		socket.on("recentmessage",function(data1){
			console.log(data1);
			
			console.log(data1.recentmessages.length );
		
			if(data1.username === $(uname).html()){
					$("#userslist2").empty();
			for(var i = data1.recentmessages.length-1; i>=0 ; i--){
			//data1.recentmessages.forEach(function(f){
			
			socket.emit("getimg",{frname :data1.recentmessages[i].users , usname : data1.username});
			}
			}
});
				socket.on("recentgrpmsg",function(data1){
			console.log(data1);
			
			
		
			if(data1.username === $(uname).html()){
					$("#grplist2").empty();
					console.log("noooo");
			for(var i = data1.recentgpmessages.length-1; i>=0 ; i--){
			//data1.recentmessages.forEach(function(f){
			socket.emit("getgrpmsg",{usname:data1.username ,grpname:data1.recentgpmessages[i].users} );
			}
			}
});

			socket.on("frimg2",function(data3){
			  if(data3.usname1 === $(uname).html()){
							$("#userslist2").append( "<li><div class='row current-chat-usr-wrap align-items-center'><div class='chat-user-img col-sm-3'><img src='/"+ data3.frname.profileImage+"' alt='userimg'/></div><div class='last-chat-detail col-sm-7 pad-left-0'><p class='user-chatting-with-wrap'>" + data3.frname.username + "</p><p class='last-msg'>"+data3.lmsg.messaged[data3.lmsg.messaged.length - 1].data +"</p></div></div></li>");
							
							}
						});

		socket.on("grpmsg",function(data3){
			console.log(data3);
			  if(data3.usname1 === $(uname).html()){
							$("#grplist2").append( "<li><div class='row current-chat-usr-wrap align-items-center'><div class='chat-user-img col-sm-3'><img  alt='userimg'/></div><div class='last-chat-detail col-sm-7 pad-left-0'><p class='user-chatting-with-wrap'>" + data3.grp.to + "</p><p class='last-msg'>"+data3.grp.messaged[data3.grp.messaged.length - 1].data +"</p></div></div></li>");
							
							}
						});

	    socket.on("new-message-grp",function(data1){
	    	console.log(data1);
	    	data1.getusers.users.forEach(function(f){
	          if(f.username===$(uname).html()){
	    	  $("#chatboxgrp").append("<span>" + data1.getmsg.messaged[data1.getmsg.messaged.length - 1].data + "</span><br/>");
	    }
	    	});
	    
	    });
	    });    
      


</script>
</body>
</html>