<!DOCTYPE html>
<html>
<head>
	<title>SIGNED IN</title>
	<style>
		#chatbox{
			height:200px;
			width: 200px;
			border: 1px solid ;
			overflow:auto;
	}
		#friendlist{
			display: none;
		}
		#searchF{
			display: none;
		}
		#addFriend{
			display: none;
		}
		#currentUserID{
			display: none;
		}
		#show-searched-friend{
			display: none;
		}
		#chatwithfriend{
			display: none;
		}
		#createpublicgroup{
			display: none;
		}
		#showpublicgroups{
			display: none;
		}
		#createdgroup{
			display: none;
		}
	</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
</head>
<body>
<h2>
	WELCOME "<%= currentUser.username %>" !!!!
	<span id="currentUserID"><%= currentUser._id %></span>
</h2>

<!-- section-1 -->

<a href="#">My Profile</a>
<!-- href="/signedin/<%=currentUser._id%>" -->
<button id="addFriendButton" >Add Friend</button>
<!-- href="/searchfriends/<%=currentUser._id%>"
 --><button id="searchFriendButton" >Search Friend</button>
<!--  href="#friends/<%=currentUser._id%>" -->
<button id="friendlistbutton" >My Friends</button>
<button id="newpublicgroup" >New Public Group</button>
<button id="yourpublicgroups" >your public groups</button>
	
<!-- section-2 -->
<% if(whichPage==="one"){ %>
<div id="defaultext">
<h2>
	SELECT Something
</h2>

</div>
<% } %>

<div id="createpublicgroup">
	<form id="creategroup">
		<input type="text" id="grpname" placeholder="group name">
		<input type="text" id="grpht" placeholder="hashtag">
		<input type="submit" value="create">
	</form>	
</div>
<div id="createdgroup">
	
</div>

<div id="showpublicgroups">
	
</div>


<div id = "addFriend">
<form id="addFriendSocket">
	<input type="text" name="addfriend" id="friendName">
	<button>add friend</button>
</form>


</div>
<div href="" id="show-friend">
	
</div>

<div id="searchF">
<form id="searchFform" >
	<input type="text" name="searchFriend" placeholder="search friend" id="friendtosearch">
	<button>SEARCH</button>
</form>
</div>
	<div id="show-searched-friend">
		
	</div>
	<button id="showing-searched-friend" class="linkToChat getpreviouschats">
		
	</button>

<div id="friendlist">
	
</div>	

<!-- section-3 -->




<div id = "chatwithfriend">
<h2>
	WELCOME "<span id="uname"><%= currentUser.username %></span>" !!!!
</h2>
<h2>
	Chat with <span id="frname"></span>
</h2>
<!-- <form id = "getpreviouschats">
	<input type="submit" value="get previous chats">
</form> -->
<div id="chatbox"></div>
<form id = "sendmessage">
	<input type="text" id="message" size="35" required="true" >
	<input type="submit" value="send" >
</form>	
</div>


<a href="/logout">logout</a>

	<script>
	$(document).ready(function(){
		var socket = io.connect() ;
		var messageform = $("#sendmessage");
		var message = $("#message");
		var chat = $("#chatbox");
		var frname = $("#frname");
		var searchF = $("#searchF");
		var searchFriendButton = $("#searchFriendButton");
		var friendlist = $("#friendlist");
		var friendlistbutton = $("#friendlistbutton");
		var addFriendButton = $("#addFriendButton");
		var addFriend = $("#addFriend");
		var defaultext = $("#defaultext");
		var uname = $("#uname");

		var getpreviouschats = $(".getpreviouschats");
				// console.log($(frname));
		$("#yourpublicgroups").click(function(e){
			$(defaultext).css("display", "none");
			$("#showpublicgroups").css("display","inline");
			$("#createpublicgroup").css("display","none");
			$("#createdgroup").css("display","none");
		});	
		$("#newpublicgroup").click(function(e){
			$(defaultext).css("display", "none");
			$("#showpublicgroups").css("display","none");
			$("#createpublicgroup").css("display","inline");
			$("#createdgroup").css("display","inline");
		});	
		$("#creategroup").submit(function(e){
			e.preventDefault();
			$("#createpublicgroup").css("display","none");
			

			socket.emit("createpubgroup",{groupname : $("#grpname").val() , hashtagname:$("#grpht").val(), maker:$(uname).html()});
		});
		socket.on("groupcreated",function(data1){
			$("#createdgroup").css("display","inline");
			console.log(data1);
			$("#createdgroup").append("<span>"+ data1 + "</span>");

		});
		$(friendlistbutton).click(function(e){
			$("#showpublicgroups").css("display","none");
			$("#createpublicgroup").css("display","none");
			$(defaultext).css("display", "none");
			$(addFriend).css("display", "none");
			$(searchF).css("display", "none");
			$(friendlist).css("display", "flex");
			$("#show-searched-friend").css("display", "none");
			$("#showing-searched-friend").css("display", "none");
			$("#show-friend").css("display", "none");
			$("#createdgroup").css("display","none");
			$(friendlist).empty();
			socket.emit("show-friend-list",{id:$("#currentUserID").html() ,from:$(uname).html()});
		});
		socket.on("friend-list-emitted",function(data1){
			//data1.forEach(function(f){
			for(var i = 0; i<data1.length ; i++){
				$("#friendlist").append("<button id= " + "'link" + i + "'" + "class='getpreviouschats'>" +  data1[i].name  + "</button>");
		
			}
		
	
				
					$("#friendlist button").click(function(e){
						$("#frname").html($(this).html()) ;
						console.log($(this).html());
						$("#chatwithfriend").css("display","inline");
					
							e.preventDefault();
						
							socket.emit("loaded-message",{to:$(frname).html(),from:$(uname).html()});
					
				});	
					
			
			 
		});
		$(addFriendButton).click(function(e){
			$("#showpublicgroups").css("display","none");
			$("#createpublicgroup").css("display","none");
			$(defaultext).css("display", "none");
			$(addFriend).css("display", "flex");
			$(searchF).css("display", "none");
			$("#show-searched-friend").css("display", "none");
			$("#showing-searched-friend").css("display", "none");
			$(friendlist).css("display", "none");
			$("#createdgroup").css("display","none");
			$("#show-friend").css("display", "flex");
		});
		$(searchFriendButton).click(function(e){
			$("#showpublicgroups").css("display","none");
			$("#createpublicgroup").css("display","none");
			$(defaultext).css("display", "none");
			$(addFriend).css("display", "none");
			$(searchF).css("display", "inline");
			$("#show-friend").css("display", "none");
			$("#show-searched-friend").css("display", "flex");
			$("#showing-searched-friend").css("display", "flex");
			$(friendlist).css("display", "none");
			$("#createdgroup").css("display","none");
		});
		$(".linkToChat").click(function(e){
			$("#frname").html($(".linkToChat").html()) ;
			//e.preventDefault();
			console.log("hi");
			$("#chatwithfriend").css("display","inline");
		});
		
		$("#addFriendSocket").submit(function(e){
			e.preventDefault();
			socket.emit("add-friend-name",{id:$("#currentUserID").html() ,from:$(uname).html(),friendname :$("#friendName").val()});
		});
		socket.on("friend-added",function(data1){
	    	console.log(data1);
	    	
	    	$("#show-friend").html("<span>" + data1 + "</span><br/>");
	    
	    });
	    $("#searchFform").submit(function(e){
			e.preventDefault();
			socket.emit("search-friend-name",{id:$("#currentUserID").html() ,from:$(uname).html(),friendname :$("#friendtosearch").val()});
		});
		socket.on("friend-searched",function(data1){
	    	console.log(data1);
	    	if(data1.name === undefined){
	    		$("#showing-searched-friend").empty();
	    		//$("#show-searched-friend").empty();
	    		$("#show-searched-friend").html("<span>Enter a valid name</span><br/>");
	    	}else{
	    		$("#show-searched-friend").empty();
	    		//$("#showing-searched-friend").empty();
	    		$("#showing-searched-friend").html( data1.name );
	    		//$("#show-searched-friend").attr("href", /chat/data1.name );
	    }
	    });
	   

		$(getpreviouschats).click(function(e){
			e.preventDefault();
			//$(getpreviouschats).css("display", "none");
			socket.emit("loaded-message",{to:$(frname).html(),from:$(uname).html()});
		});
		socket.on("previous-message",function(data1){
	   		$("#chatbox").empty();
	    	if(data1.from === $(uname).html()){
	    		   // $(getpreviouschats).css("display", "none");
	   	     		for(var i =0; i<data1.messaged.length ; i++){
	    			$(chat).append("<span>" + data1.messaged[i].data + "</span><br/>");
	    		}
	    	}
	    });
		$(messageform).submit(function(e){
			e.preventDefault();
			socket.emit("send-message",{to:$(frname).html(),from:$(uname).html(),msg :$(message).val()});
			$(message).val("");
		});
	    socket.on("new-message",function(data1){
	    	console.log(data1);
	    	if(data1.from===$(uname).html()||data1.to===$(uname).html()){
	    	$(chat).append("<span>" + data1.messaged[data1.messaged.length - 1].data + "</span><br/>");
	    }
	    });
       
	    });
      
</script>
</body>
</html>