<!DOCTYPE html>
<html>
<head>
	<title>SIGNED IN</title>
	<style>
		#chatbox{
			height:200px;
			width: 200px;
			border: 1px solid ;
			overflow:auto;
	}
		#chatboxgrp{
			height:200px;
			width: 200px;
			border: 1px solid ;
			overflow:auto;
	}
		#friendlist{
			display: none;
		}
		#searchF{
			display: none;
		}
		#addFriend{
			display: none;
		}
		#currentUserID{
			display: none;
		}
		#show-searched-friend{
			display: none;
		}
		#chatwithfriend{
			display: none;
		}
		#createpublicgroup{
			display: none;
		}
		#showpublicgroups{
			display: none;
		}
		#createdgroup{
			display: none;
		}
		#publicgroupsettings{
			display: none;
		}
		#showing-result{
			display: none;
		}
		#chatwithgroup{
			display: none;
		}
	</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

 <% if( currentUser === undefined){ %>
    <h2> hi </h2>
  <% }else { %>
  	<h2>WELCOME "<%= currentUser.username %>" !!!! </h2>
	<span id="currentUserID"><%= currentUser._id %></span>
	 


<!-- section-1 -->
 
<div class="main-wrapper fullwidth">
        <div class="full-page-wrapper fullwidth">
            <div class="container-fluid">
                <div class="top-boxes-wrap">
                    <div class="chat-boxes-wrap">
                        <div class="first-box-wrap">
                            <div class="user-image-wrap">
                                <img class="user-image" src="/<%=currentUser.profileImage%>" alt="img">
                            </div>
                            <ul class="usr-options">
                                <li>
                                    <a href="">
                                        <span class="fa fa-user"></span>
                                        Profile
                                    </a>
                                </li>
                                <li>
                                    <button id="friendlistbutton" >
                                        <span class="fa fa-user"></span>
                                        My Friends
                                   </button>
                                </li>
                                 <li>
                                    <button id="yourpublicgroups" >
                                        <span class="fa fa-user"></span>
                                       My Groups
                                    </button>
                                </li>
                                <li>
                                    <button id="addFriendButton" >
                                        <span class="fa fa-user"></span>
                                       Add Friends
                                    </button>
                                </li>
                                <li>
                                   <button id="newpublicgroup" >
                                        <span class="fa fa-user"></span>
                                      New Public Group
                                      </button>
                                </li>
                                <li>
                                    <button id="searchFriendButton" >
                                        <span class="fa fa-user"></span>
                                       Search Friends
                                   </button>
                                </li>
                            </ul>
                        </div>
                        <div class="second-box-wrap">
                            <!-- Insert the code for search friend-->
                        </div>
                        <div class="third-box-wrap">

                        </div>
                    </div>
                    <div class="sidebar-section-wrap">

                    </div>
                </div>
                <div class="bottom-boxes-wrap">
                </div>
            </div>
        </div>
    </div>











	
<!-- section-2 -->
<% if(whichPage==="one"){ %>
<div id="defaultext">
<h2>
	SELECT Something
</h2>
	
</div>
<% } %>
<h2>You have new messages from :</h2>
<div id="newmess">
	
</div>
<div id="createpublicgroup">
	<form id="creategroup">
		<input type="text" id="grpname" placeholder="group name">
		<input type="text" id="grpht" placeholder="hashtag">
		<input type="submit" value="create">
	</form>	
</div>
<div id="createdgroup">
	
</div>

<div id="showpublicgroups">
	
</div>

<div id="publicgroupsettings">
   <form id="addmember">
   		<input type="text" id="addmembername">
   		<input type="submit" value="addmember">
   </form>

<div id="othersettingsselect">
</div>
<div id= "othersettings">
	
</div>
<div id="showing-result">
	
</div>
<!-- 	<button id="removesubadmin"></button>-->
</div>

<div id = "addFriend">
<form id="addFriendSocket">
	<input type="text" name="addfriend" id="friendName">
	<button>add friend</button>
</form>


</div>
<div href="" id="show-friend">
	
</div>

<div id="searchF">
<form id="searchFform" >
	<input type="text" name="searchFriend" placeholder="search friend" id="friendtosearch">
	<button>SEARCH</button>
</form>
</div>
	<div id="show-searched-friend">
		
	</div>
	<button id="showing-searched-friend" class="linkToChat getpreviouschats">
		
	</button>

<div id="friendlist">
	
</div>	

<!-- section-3 -->

<div id = "chatwithgroup">
<h2>
	WELCOME "<span id="uname"><%= currentUser.username %></span>" !!!!
</h2>
<h2>
	Chat with <span id="grname"></span>
</h2>
<!-- <form id = "getpreviouschats">
	<input type="submit" value="get previous chats">
</form> -->
<div id="chatboxgrp"></div>
<form id = "sendmessagegrp">
	<input type="text" id="messagegrp" size="35" required="true" >
	<input type="submit" value="send" >
</form>	
</div>


<div id = "chatwithfriend">
<h2>
	WELCOME "<span id="uname"><%= currentUser.username %></span>" !!!!
</h2>
<h2>
	Chat with <span id="frname"></span>
</h2>
<!-- <form id = "getpreviouschats">
	<input type="submit" value="get previous chats">
</form> -->
<div id="chatbox"></div>
<form id = "sendmessage">
	<input type="text" id="message" size="35" required="true" >
	<input type="submit" value="send" >
</form>	
</div>


<a href="/logout">logout</a>
<% } %>
	<script>
	
	$(document).ready(function(){
		var socket = io.connect() ;
		var messageform = $("#sendmessage");
		var message = $("#message");
		var chat = $("#chatbox");
		var frname = $("#frname");
		var searchF = $("#searchF");
		var searchFriendButton = $("#searchFriendButton");
		var friendlist = $("#friendlist");
		var friendlistbutton = $("#friendlistbutton");
		var addFriendButton = $("#addFriendButton");
		var addFriend = $("#addFriend");
		var defaultext = $("#defaultext");
		var uname = $("#uname");
		var messagesent = false ;
		var userlogin = true ;
		var getpreviouschats = $(".getpreviouschats");
				// console.log($(frname));
		socket.emit("userloggedin",$(uname).html());
		socket.on("newmessagefrom",function(data2){
			
			if(data2.username=== $(uname).html()){
				console.log(data2.newmessages);
				$("#newmess").empty() ;
			data2.newmessages.forEach(function(f){
				$("#newmess").append("<span>"+ f.users + "</span>");
			});
			}
		});
		$("#yourpublicgroups").click(function(e){
			$(defaultext).css("display", "none");
			$(defaultext).css("display", "none");
			$("#publicgroupsettings").css("display","none");
			$(addFriend).css("display", "none");
			$(searchF).css("display", "none");
			$(friendlist).css("display", "none");
			$("#show-searched-friend").css("display", "none");
			$("#showing-searched-friend").css("display", "none");
			$("#show-friend").css("display", "none");
			$("#showpublicgroups").css("display","flex");
			$("#createpublicgroup").css("display","none");
			$("#createdgroup").css("display","none");
			$("#showing-result").css("display","none");
		});	
		$("#newpublicgroup").click(function(e){
			$(defaultext).css("display", "none");
				$("#showing-result").css("display","none");
			$("#publicgroupsettings").css("display","none");
			$(defaultext).css("display", "none");
			$(addFriend).css("display", "none");
			$(searchF).css("display", "none");
			$(friendlist).css("display", "none");
			$("#show-searched-friend").css("display", "none");
			$("#showing-searched-friend").css("display", "none");
			$("#show-friend").css("display", "none");
			$("#showpublicgroups").css("display","none");
			$("#createpublicgroup").css("display","flex");
			$("#createdgroup").css("display","flex");
		});	

		$("#creategroup").submit(function(e){
			e.preventDefault();
			$("#createpublicgroup").css("display","none");
			

			socket.emit("createpubgroup",{id:$("#currentUserID").html() ,groupname : $("#grpname").val() , hashtagname:$("#grpht").val(), maker:$(uname).html()});
		});
		socket.on("groupcreated",function(data1){
			if(data1.name === $(uname).html()){
			$("#createdgroup").css("display","inline");
			$("#createdgroup").empty() ;
			console.log(data1);
			$("#createdgroup").append("<span>"+ data1.state + "</span>");
		}
		});
		$("#yourpublicgroups").click(function(e){
			e.preventDefault();
			$("#showpublicgroups").empty();
			socket.emit("clickedpublicgroups",{id:$("#currentUserID").html() });
		});
		socket.on("herearethegroups",function(data1){
			if(data1.username=== $(uname).html()){
			for(var i = 0; i<data1.publicgrp.length ; i++){
				$("#showpublicgroups").append("<button id= " + "'grouplink" + i + "'" + "class='getpreviouschatsofgrp'>" +  data1.publicgrp[i].hashname  + "</button>");
		
			}
		
						$("#showpublicgroups button").click(function(e){
								
								$("#grname").html($(this).html()) ;
						 		console.log($(this).html());
						 		$("#chatwithfriend").css("display","none");
				 				$("#chatwithgroup").css("display","inline");
							var grp = $(this).html();
							$("#publicgroupsettings").css("display","flex");

							$("#showpublicgroups").css("display","none");
							socket.emit("loaded-message-group",{to: grp,from:$(uname).html()});
							socket.on("previous-group-message",function(data1){
								console.log(data1);
								if( data1.to === grp){
	    		   
	    					   $("#chatboxgrp").empty();
	   	     					for(var i =0; i<data1.messaged.length ; i++){
	    							$("#chatboxgrp").append("<span>" + data1.messaged[i].data + "</span><br/>");
	    						}
	    					}
						});
							$("#addmember").submit(function(e){
									e.preventDefault();
									console.log(grp);
									$("#othersettings").empty();
									socket.emit("add-member",{grpname : grp ,user:$(uname).html(), membername : $("#addmembername").val() });
									socket.emit("member-names",grp);

								});
							socket.emit("member-names",grp);
							socket.on("names-here",function(data1){
							$("#othersettings").empty();
								var issubadmin = false ;
								var isadmin = false ;
								if($(uname).html() === data1.admin){
									isadmin = true ;
								}
								if($(uname).html() !== data1.admin){
									data1.subadmins.forEach(function(f){
									if($(uname).html() === f.username){
											issubadmin = true ;
									}
								});
								}
								console.log(issubadmin) ;
								data1.users.forEach(function(f){

									if(f.username !== data1.admin && f.username !== $(uname).html()){
									$("#othersettings").append("<button>"+f.username+"</button></br>");
								}
							});
								$("#othersettings button").click(function(e){
									var ussser = $(this).html();
									if(issubadmin){
										
										$("#othersettingsselect").append("<button id = 'addsubadminname'> addsubadmin </button>");
										$("#othersettingsselect").append("<button id = 'removedmembername'> removemember </button>");
									$("#removedmembername").click(function(e){
									$("#othersettingsselect").empty() ;
									$("#othersettings").empty();
								
									
									socket.emit("remove-member",{membername:ussser,user:$(uname).html(),grpname: grp });
									socket.emit("member-names",grp);
										});
									$("#addsubadminname").click(function(e){
									e.preventDefault();
										$("#othersettingsselect").empty() ;
									socket.emit("add-subadmin",{membername:ussser,user:$(uname).html(),grpname: grp });
										});
									}
									if(isadmin){
										$("#othersettingsselect").empty() ;
										$("#othersettingsselect").append("<button id = 'addsubadminname'> addsubadmin </button>");
										$("#othersettingsselect").append("<button id = 'removedmembername'> removemember </button>");
										$("#othersettingsselect").append("<button id = 'removesubadminname'> removesubadmin </button>");
									$("#removedmembername").click(function(e){
									e.preventDefault();
									$("#othersettingsselect").empty() ;
									$("#othersettings").empty();
									
									socket.emit("remove-member",{membername:ussser,user:$(uname).html(),grpname: grp });
									socket.emit("member-names",grp);
										});
									$("#addsubadminname").click(function(e){
									e.preventDefault();
									$("#othersettingsselect").empty() ;
									socket.emit("add-subadmin",{membername:ussser,user:$(uname).html(),grpname: grp });
										});
									$("#removesubadminname").click(function(e){
									e.preventDefault();
									$("#othersettingsselect").empty() ;
									socket.emit("remove-subadmin",{membername:ussser,user:$(uname).html(),grpname: grp });
								});	
									}

								});
								
	
							});
		
			

							 
							

										
					
				});


			}		
		});

		socket.on("subadmin",function(data1){
			if(data1.user === $(uname).html()){
				$("#showing-result").empty();
				$("#showing-result").css("display","flex");
				$("#showing-result").append("<span>"+ data1.state + "</span>");
		}});
		socket.on("subadmin-removed",function(data1){
			if(data1.user === $(uname).html()){
				$("#showing-result").empty();
				$("#showing-result").css("display","flex");
				$("#showing-result").append("<span>"+ data1.state + "</span>");
		}});
		socket.on("add-member-result",function(data1){
			if(data1.user === $(uname).html()){
				$("#showing-result").empty();
				$("#showing-result").css("display","flex");
				$("#showing-result").append("<span>"+ data1.state + "</span>");

		}});
		socket.on("member-removed",function(data1){
			if(data1.user === $(uname).html()){
				$("#showing-result").empty();
				$("#showing-result").css("display","flex");
				$("#showing-result").append("<span>"+ data1.state + "</span>");
				console.log(data1);
}
		});
		$(friendlistbutton).click(function(e){
			$("#showpublicgroups").css("display","none");
			$("#createpublicgroup").css("display","none");
			$(defaultext).css("display", "none");
			$(addFriend).css("display", "none");
			$(searchF).css("display", "none");
			$(friendlist).css("display", "flex");
			$("#show-searched-friend").css("display", "none");
			$("#showing-searched-friend").css("display", "none");
			$("#show-friend").css("display", "none");
			$("#createdgroup").css("display","none");
			$("#publicgroupsettings").css("display","none");
			$(friendlist).empty();
				$("#showing-result").css("display","none");
			socket.emit("show-friend-list",{id:$("#currentUserID").html() ,from:$(uname).html()});
		});
		socket.on("friend-list-emitted",function(data1){
			//data1.forEach(function(f){
				console.log(data1.friends.length);
				if(data1.username=== $(uname).html()){
			for(var i = 0; i<data1.friends.length ; i++){
				$("#friendlist").append("<button id= " + "'link" + i + "'" + "class='getpreviouschats'>" +  data1.friends[i].name  + "</button>");
		
			}
		
	
					
					$("#friendlist button").click(function(e){
						$("#frname").html($(this).html()) ;
						$("#chatwithgroup").css("display","none");
						console.log($(this).html());
						$("#chatwithfriend").css("display","inline");
					
							e.preventDefault();
						
							socket.emit("loaded-message",{to:$(frname).html(),from:$(uname).html()});
					
				});	
			}		
			
			 
		});
		$(addFriendButton).click(function(e){
			$("#showpublicgroups").css("display","none");
			$("#createpublicgroup").css("display","none");
			$(defaultext).css("display", "none");
			$(addFriend).css("display", "flex");
			$(searchF).css("display", "none");
			$("#show-searched-friend").css("display", "none");
			$("#showing-searched-friend").css("display", "none");
			$(friendlist).css("display", "none");
				$("#showing-result").css("display","none");
			$("#createdgroup").css("display","none");
			$("#show-friend").css("display", "flex");
			$("#publicgroupsettings").css("display","none");
		});
		$(searchFriendButton).click(function(e){
			$("#showpublicgroups").css("display","none");
			$("#createpublicgroup").css("display","none");
			$(defaultext).css("display", "none");
			$(addFriend).css("display", "none");
			$(searchF).css("display", "inline");
			$("#show-friend").css("display", "none");
			$("#show-searched-friend").css("display", "flex");
			$("#showing-searched-friend").css("display", "flex");
			$(friendlist).css("display", "none");
			$("#createdgroup").css("display","none");
				$("#showing-result").css("display","none");
			$("#publicgroupsettings").css("display","none");
		});
		$(".linkToChat").click(function(e){
			$("#frname").html($(".linkToChat").html()) ;
			//e.preventDefault();
			console.log("hi");
			$("#chatwithfriend").css("display","inline");
		});
		
		$("#addFriendSocket").submit(function(e){
			e.preventDefault();
			socket.emit("add-friend-name",{id:$("#currentUserID").html() ,from:$(uname).html(),friendname :$("#friendName").val()});
		});
		socket.on("friend-added",function(data1){
	    	console.log(data1);
	    	
	    	$("#show-friend").html("<span>" + data1 + "</span><br/>");
	    
	    });
	    $("#searchFform").submit(function(e){
			e.preventDefault();
			socket.emit("search-friend-name",{id:$("#currentUserID").html() ,from:$(uname).html(),friendname :$("#friendtosearch").val()});
		});
		socket.on("friend-searched",function(data1){
	    	console.log(data1);
	    	if(data1.name === undefined){
	    		$("#showing-searched-friend").empty();
	    		//$("#show-searched-friend").empty();
	    		$("#show-searched-friend").html("<span>Enter a valid name</span><br/>");
	    	}else{
	    		$("#show-searched-friend").empty();
	    		//$("#showing-searched-friend").empty();
	    		$("#showing-searched-friend").html( data1.name );
	    		//$("#show-searched-friend").attr("href", /chat/data1.name );
	    }
	    });
	   

		$(getpreviouschats).click(function(e){
			e.preventDefault();
			//$(getpreviouschats).css("display", "none");
			socket.emit("loaded-message",{to:$(frname).html(),from:$(uname).html()});

		});



		socket.on("previous-message",function(data1){
	   		
	    	if(data1.from === $(uname).html() && data1.to === $(frname).html()){
	    		   // $(getpreviouschats).css("display", "none");
	    		   $("#chatbox").empty();
	   	     		for(var i =0; i<data1.messaged.length ; i++){
	    			$(chat).append("<span>" + data1.messaged[i].data + "</span><br/>");
	    		}
	    	}
	    });
		$(messageform).submit(function(e){
			e.preventDefault();
			socket.emit("send-message",{to:$(frname).html(),from:$(uname).html(),msg :$(message).val()});
			$(message).val("");
		});
	    socket.on("new-message",function(data1){
	    	console.log(data1);
	    	
	    	if(data1.from===$(uname).html()||(data1.to===$(uname).html() && data1.from===$(frname).html())){
	    	messagesent = true ;
	    	$(chat).append("<span>" + data1.messaged[data1.messaged.length - 1].data + "</span><br/>");
	    }
	    });
       

  //      		$(getpreviouschats).click(function(e){
		// 	e.preventDefault();
			
		// 	socket.emit("loaded-message",{to:$(frname).html(),from:$(uname).html()});
		// });
		// socket.on("previous-message",function(data1){
	   		
	 //    	if(data1.from === $(uname).html() && data1.to === $(frname).html()){
	 //    		   // $(getpreviouschats).css("display", "none");
	 //    		   $("#chatbox").empty();
	 //   	     		for(var i =0; i<data1.messaged.length ; i++){
	 //    			$(chat).append("<span>" + data1.messaged[i].data + "</span><br/>");
	 //    		}
	 //    	}
	 //    });
		$("#sendmessagegrp").submit(function(e){
			e.preventDefault();
			socket.emit("send-message-grp",{to:$("#grname").html(),from:$(uname).html(),msg :$("#messagegrp").val()});
			$("#messagegrp").val("");
		});
	    socket.on("new-message-grp",function(data1){
	    	console.log(data1);
	    	data1.getusers.users.forEach(function(f){
	          if(f.username===$(uname).html()){
	    	  $("#chatboxgrp").append("<span>" + data1.getmsg.messaged[data1.getmsg.messaged.length - 1].data + "</span><br/>");
	    }
	    	});
	    
	    });
	    });    
      


</script>
</body>
</html>