<!DOCTYPE html>
<html>
<head>
	<title>SIGNED IN</title>
</head>
<body>
<h2>
	WELCOME "<%= currentUser.username %>" !!!!
</h2>

<!-- <img src = "/<%= currentUser.profileImage%>"> -->
<form method="POST" action="/signedin/<%=currentUser._id%>">
	<input type="text" name="addfriend">
	<button>add friend</button>
</form>
<!--  -->
<h1><%=fuser%></h1>
<% currentUser.friends.forEach(function(f){ %>	
	<li>
		<%= f %>
			
	</li>
<% }) %>

<a href="/logout">logout</a>

</body>
</html>